.cards_section{
  display:flex;
  flex-direction:row;
  width :100vw;
  height:100vh;
  background-image:url(https://media.istockphoto.com/photos/empty-green-casino-poker-table-cloth-with-spotlight-picture-id1092139474?k=20&m=1092139474&s=612x612&w=0&h=iWwvolq21sBzJZkqmigkdwNW6_cuQ1pQSNQmBE0a4V0=);
  background-size:100%;
  position:relative;
  .playing_cards_container{
    flex-basis:60%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    .playing_cards{
      height:20%;
      display:flex;
      justify-content: center;
      width:auto;
      
      overflow:scroll;
      flex-wrap: wrap;
      &::-webkit-scrollbar{
        height:0;
        background:yellow;
        border-radius: 30px;
        &-thumb{
          background:black;
        }
      }
      &.noscroll{
        overflow:hidden !important;
      }
      & >*{
        // margin-left:-30px;
      }
      img{
        height:100%;
      }
    }
    .my_cards_container{
      .my_card_button{
        width:auto;
        height:100%;
        background:0;
        border:0;
        padding:0;
        display:block;
        position:relative;
        // margin-left:-30px;
        img{
          height:100% !important;
        }
      }
    }
  }
  .deck_container{
    position:relative;
    flex-basis:20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    div{
      position:relative;
      display:flex;
      img{
        height: 150px;
        position:relative;
        margin-left: -102px;
      }
      :first-child{
        transform:rotate(90deg);
        right:110px;
      }
    }
    p{
      color:yellow;
      margin:0;
      font-size:25px;
      text-transform: uppercase;
    }
  }
  .play_field_container{
    height: 60%;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    .play_cards_set{
      position:relative;
      margin-right:5px;
      .to-beated-card{
        position:absolute;
        position: absolute;
        left: 0px;
        bottom: 35px;
        display:none;
      }
      img{
        height:150px;
        width:110px;
      }
    }
  }
  .lights_out_container{
    position:relative;
    flex-basis:20%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    .lights_out_container_inner{
      position:relative;
      display:flex;
      margin-top:95px;
      img{
        height: 150px;
        margin-right: -95px;
      }
    }
    .lights_out_wrapper{
      align-self: center;
      margin-bottom:80px;
      transform-origin: 50%;
      button{
        display:none;
        text-transform:uppercase;
        background: yellow;
        color: black;
        font-weight: bold;
        border-radius: 26px;
        width:120px ;
        transition:all 0.2s linear;
        &:hover{
          transform:scale(1.2);
        }
      }
    }
  }
}
html{
  background-image:url(https://media.istockphoto.com/photos/empty-green-casino-poker-table-cloth-with-spotlight-picture-id1092139474?k=20&m=1092139474&s=612x612&w=0&h=iWwvolq21sBzJZkqmigkdwNW6_cuQ1pQSNQmBE0a4V0=);
  background-size:100%;
}
p{
  color:yellow;
  margin:0;
  font-size:25px;
  text-transform: uppercase;
}
.display-block{
  display:block;
}
.overlay{
  width:100vw;
  height:100vh;
  background:black;
  opacity:0.5;
  display:none;
  position:absolute;
}
.end-game-popup{
  transition:all 1s linear;
  visibility:hidden;
  position:absolute;
  top:50%;
  left:50%;
  transform:translateY(-50%) translateX(-50%) scale(0.4);
  opacity:0.4;
  background: green;
  border-radius: 30px;
  max-width:210px;
  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  p{
    text-align:center;
  }
  svg{
    path{
      fill:yellow;
    }
  }
  .advise{
    padding:10px;
    margin-top:5px;
    margin-bottom:5px;
    span{
      color:yellow;
      text-align:center;
    }
  }
  .press_F5-container{
    button{
      background:none;
      border:none;
      transition:all 0.5s ease;
      font-weight:bold;
      color:yellow;
    }
    &:hover{
      button{
        background:yellow;
        color:black;
      }
    }
  }
}
html.end-game{
    overflow: hidden;
  .overlay{
    display:block;
  }
}
html.end-game.my-victory{
  .end-game-popup.victory{
    transform:scale(1) translateY(-50%) translateX(-50%);
    visibility:visible;
    opacity:1;
  }
}
html.end-game.enemys-victory{
  .end-game-popup.defeat{
    transform:scale(1) translateY(-50%) translateX(-50%);
    visibility:visible;
    opacity:1;
  }
}
html.end-game.my-victory{
  .end-game-popup.victory{
    transform:scale(1) translateY(-50%) translateX(-50%);
    visibility:visible;
    opacity:1;
  }
}
@keyframes pulsing_lights_out_button_animation{
  0%{
    transform:scale(1);
  }
  100%{
    transform:scale(1.2);
  }
}
.pulsing_lights_out_button{
  animation-name:pulsing_lights_out_button_animation;
  animation-duration:0.5s;
  animation-iteration-count: infinite;
  animation-direction:alternate;
}