.cards_section{
  display:flex;
  flex-direction:row;
  width :100vw;
  height:100vh;
  background-image:url(https://media.istockphoto.com/photos/empty-green-casino-poker-table-cloth-with-spotlight-picture-id1092139474?k=20&m=1092139474&s=612x612&w=0&h=iWwvolq21sBzJZkqmigkdwNW6_cuQ1pQSNQmBE0a4V0=);
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;
  .playing_cards_container{
    flex-basis:60%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    .playing_cards{
      height:20%;
      display:flex;
      justify-content: center;
      width:auto;
      overflow:scroll;
      flex-wrap: wrap;
      &.enemy_cards_filler{
        img{
          margin-right:0.3vw;
        }
      }
      &::-webkit-scrollbar{
        height:0;
        background:yellow;
        border-radius: 30px;
        &-thumb{
          background:black;
        }
      }
      &.noscroll{
        overflow:hidden !important;
      }
      & >*{
        // margin-left:-30px;
      }
      img{
        height:100%;
      }
    }
    .my_cards_container{
      .my_card_button{
        width:auto;
        height:100%;
        background:0;
        border:0;
        padding:0;
        display:block;
        position:relative;
        // margin-left:-30px;
        img{
          height:100% !important;
        }
      }
    }
  }
  .deck_container{
    position:relative;
    flex-basis:20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    div{
      position:relative;
      display:flex;
      img{
        height: 7vw;
        position: relative;
        margin-left: -4.5vw;
      }
      img:first-child{
        transform: rotate(90deg);
        right: 20%;
      }
    }
    p{
      color:yellow;
      margin:0;
      font-size:25px;
      text-transform: uppercase;
    }
  }
  .play_field_container{
    height: 60%;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    margin-bottom:5%;
    .play_cards_set{
      position:relative;
      margin-right:5px;
      margin-bottom:1px;
      .to-beated-card{
        position:absolute;
        position: absolute;
        left: 0px;
        transform: translateY(-125%);
        display:none;
      }
      img{
        width: 6vw;
        height: 7vw;
      }
    }
  }
  .lights_out_container{
    position:relative;
    flex-basis:20%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    .lights_out_container_inner{
      position:relative;
      display:flex;
      margin-top:95px;
      img{
        height: 10vw;
        margin-right: -6.5vw;
      }
    }
    .lights_out_wrapper{
      align-self: center;
      margin-bottom:80px;
      transform-origin: 50%;

      button{
        display:none;
        text-transform:uppercase;
        background: yellow;
        color: black;
        font-weight: bold;
        border-radius: 26px;
        width:120px ;
        max-width:20vw;
        transition:all 0.2s linear;
        &:hover{
          transform:scale(1.2);
        }
      }
    }
  }
}
html{
  background-image:url(https://media.istockphoto.com/photos/empty-green-casino-poker-table-cloth-with-spotlight-picture-id1092139474?k=20&m=1092139474&s=612x612&w=0&h=iWwvolq21sBzJZkqmigkdwNW6_cuQ1pQSNQmBE0a4V0=);
  background-size:100%;
}
p{
  color:yellow;
  margin:0;
  font-size:25px;
  text-transform: uppercase;
}
.display-block{
  display:block;
}
.overlay{
  width:100vw;
  height:100vh;
  background:black;
  opacity:0.5;
  display:none;
  position:absolute;
}
.end-game-popup{
  transition:all 1s linear;
  visibility:hidden;
  position:absolute;
  top:50%;
  left:50%;
  transform:translateY(-50%) translateX(-50%) scale(0.4);
  opacity:0.4;
  background: green;
  border-radius: 30px;
  max-width:210px;

  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  p{
    text-align:center;
  }
  svg{
    path{
      fill:yellow;
    }
  }
  .advise{
    padding:10px;
    margin-top:5px;
    margin-bottom:5px;
    max-height: 7vh;
    span{
      color:yellow;
      text-align:center;
    }
  }
  .press_F5-container{
    button{
      background:none;
      border:none;
      transition:all 0.5s ease;
      font-weight:bold;
      color:yellow;
    }
    &:hover{
      button{
        background:yellow;
        color:black;
      }
    }
  }
}
html.end-game{
    overflow: hidden;
  .overlay{
    display:block;
  }
}
html.end-game.my-victory{
  .end-game-popup.victory{
    transform:scale(1) translateY(-50%) translateX(-50%);
    visibility:visible;
    opacity:1;
  }
}
html.end-game.enemys-victory{
  .end-game-popup.defeat{
    transform:scale(1) translateY(-50%) translateX(-50%);
    visibility:visible;
    opacity:1;
  }
}
html.end-game.my-victory{
  .end-game-popup.victory{
    transform:scale(1) translateY(-50%) translateX(-50%);
    visibility:visible;
    opacity:1;
  }
}
.welcoming-slide{
  z-index:100;
  display:none;
  flex-direction: column;
  position:absolute;
  transform: translateX(-50%) translateY(-50%);
  left:50%;
  top:50%;
  justify-content:space-between;
  height:10%;
  align-items:center;
  .leadership-button-container{
    max-width: 10vw;
    display: flex;
    flex-direction: column;
    .leaderboard-button{
      background: none;
      width: 170px;
      border: none;
      svg{
        transition: all 0.5s linear;
        opacity:0;
        path{
          fill:gold;
        }
      }
      &:hover{
        svg{
          opacity:1;
        }
        .leaderboard-inner{
          background:silver;
        }  
      }
      .leaderboard-inner{
        background: gold;
        text-transform: uppercase;
        font-weight: bold;
        transition:all 0.6s linear;
      }
    }
  }
}
html.start-game{
  .overlay{
    display:block;
    background-image:url('https://media.istockphoto.com/vectors/seamless-pattern-with-playing-card-suits-on-green-background-vector-id696973922?k=20&m=696973922&s=612x612&w=0&h=b-E6w7KobibLFtHvvSqQQQy8hK14VM-c-YkHY4zVjF4=');
    background-size:100%;
    opacity:1;
  }
  .welcoming-slide{
    display:flex;

  }
}

@keyframes pulsing_lights_out_button_animation{
  0%{
    transform:scale(1);
  }
  100%{
    transform:scale(1.2);
  }
}
@keyframes pulsing_lights_out_button_mobile {
  0%{
    transform:scale(1);
  }
  100%{
    transform:scale(0.8);
  }
}
@keyframes glowing_lights_out_button_animation{
  0%{
    background:yellow;
    color:black;
  }
  100%{
    background:black;
    color:yellow;
  }
}
.asking_to_turn_mobile{
  display:none;
  z-index:50;
  visibility:hidden;
  position:absolute;
  width:100vw;
  height:100vh;
  background:white;
  .asking_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img{
    width:100%;
    vertical-align: middle;
    margin-top:50%;
  }
}
.pulsing_lights_out_button{
  animation-name:pulsing_lights_out_button_animation;
  animation-duration:0.5s;
  animation-iteration-count: infinite;
  animation-direction:alternate;
}

.enemy_cards_container{
  display:none;
}
@media (max-width:400px){
  .asking_to_turn_mobile{
    display:block;
  }
}
@media (max-height:400px), screen{

  .end-game-popup{
    .title{
      svg,img{
        display:none;
      }
    }
    .press_F5-container{
      margin-top:15px;
    }
  }
  .lights_out_container{
      .pulsing_lights_out_button{
        animation-name:pulsing_lights_out_button_mobile;
        animation-duration:0.5s;
        animation-iteration-count: infinite;
        animation-direction:alternate;
      }
  }
}
